#aboutmesection{

    padding: 100px 0px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap;

}

.aboutmecontainer{

    width: 650px;
    max-width:calc(100% - 30px);
   
}

#aboutmesection img{
    
    width: 310px;
    border: 9px solid var(--text-color);
    max-width: 90%;
   
}

.aboutmecontainer h2{

    font-size: 55px;
    
}

.aboutmecontainer p{
    
    text-align: justify;
    line-height: 175%;
    
}

@media (max-width:800px)  {

    #aboutmesection{

        padding: 30px 0px;

    }

    #aboutmesection h2{

        text-align: center;
        font-size: 9vw;

    }

}

