.servicessection{

    padding: 70px 0px;
    background-color: var(--primary-color);

}

.servicescontainer h2{
    
    font-size: 50px;
    text-align: center;
}

.servicessection h2{

    text-align:center;
    font-size: 40px;

}
.flexcontainer {

    margin-top: 50px;
    display: flex;
    gap: 40px;
    justify-content: center;

}
.card{

    width: 350px;
    background-color: var(--secondary-color);
    border-radius: 100px;
    padding: 60px 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
   
}

.card *{

    text-align: center;
}

.card a{
    background-color: var(--main-brand-color);
    text-decoration: none;
    width: min-content;
    padding: 15px 40px;
    border-radius: 50px;
    margin: 0 auto;
    color: var(--text-color);
    border: 2px solid var(--main-brand-color);
}

.card a:hover {

    background-color: transparent;

}

@media(max-width:500px){

    .servicessection h2{
        font-size: 12vw;

    }


}

